@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

.Background-requirements {
  background: radial-gradient(
      33.26% 45% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0bb9 100%
    ),
    url("../images/requirements.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

main {
  max-width: 70%;
  margin: 75px auto !important;
}

.sans-bold {
  font-family: "Open Sans Bold";
  font-size: 16px !important;
  font-weight: bold;
}

.sans-re {
  font-family: "Open Sans Regular";
  font-size: 11px !important;
  font-weight: bold;
  color: white !important;
  letter-spacing: 1px;
}

.navbar-style {
  max-width: 70% !important;
}

footer {
  max-width: 70% !important;
  margin: 0 auto !important;
  color: white;
  font-family: "Open Sans Bold";
  font-size: 12px;
  letter-spacing: 1px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: orange;
}

/* Oponents */

.candidate {
  background-color: #303030;
  border: none;
  color: white;
  padding: 25px 30px;
  font-size: 12px;
  font-family: "Open Sans Bold";
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.candidate:hover {
  background-color: orange;
  color: white;
}

.h4-fs {
  font-family: "Open Sans Bold";
}

.card-style {
  display: flex !important;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 auto !important;
}

.card-style-player {
  background-color: #303030 !important;
  color: white;
  border-radius: 8px !important;
  margin: 6px !important;
  min-height: 220px;
}

.card-layout {
  display: flex !important;
  flex-wrap: wrap;
  align-items: baseline;
}

.card-name {
  font-size: 15px !important;
  width: 100%;
}

.card-level {
  font-size: 12px !important;
}

.card-bio {
  font-size: 15px !important;
}

.card-history {
  font-size: 15px !important;
}

.fight {
  background-color: orange;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: "Open Sans Bold";
  font-size: 12px;
}

.input-style {
  background: #c7c7c7ec !important;
  font-family: "Open Sans Bold";
  font-size: 12px !important;
  color: black !important;
  padding: 10px 10px !important;
}
